*{
  /* box-sizing: border-box; */
  font-family:sans-serif;
}

.hero{
  background-image: url("design-assets/lisa-therese-ZYUfnilDZEI-unsplash.jpg");
  background-position: top;
  background-size: cover;
  width: auto;
  height: auto;
}

.titlehead{
  color: #58A6F4;
  text-align: center;
  padding-top: 25px;
  text-shadow: 0 0 4px black;
}

.titletext{
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
}

.previoustitle{
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 0 0 4px black;
}

.sites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.peppers{
  text-align: center;
}

.haul{
  text-align: center;
}

.waldotitle{
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  padding-top: 50px;
}

.profiles{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  padding-bottom: 25px;
  padding-left: 150px;
  padding-right: 150px;
}

.linkedin{
  max-width:100px;
  max-height:100px;
}

.github{
  max-width:100px;
  max-height:100px;
}

.email{
  color: white !important;
  text-align: center;
  font-size: 30px;
  text-shadow: 0 0 4px black;
}

.emailink{
  color: white;
}

.tagged{
  padding-top: 100px;
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
  color: #FF00BF;
  padding-right: 10px;
}

@media (max-width:760px){
  .sites{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
