*{
  /* box-sizing: border-box; */
  font-family:sans-serif;
}

.hero{
  background-image: url("design-assets/ferdinand-stohr-iW1WzbuWMcA-unsplash.jpg");
  background-position: top;
  background-size: cover;
  width: auto;
  height: auto;
}

.titlehead{
  color: #58A6F4;
  text-align: center;
  padding-top: 10px;
  text-shadow: 0 0 5px black;
}

.titletext{
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
}

.aboutme{
  text-align: center;
  padding-top: 10px;
}

#myBtn{
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
  cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Modal */

.previoustitle{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  text-shadow: 0 0 4px black;
}

.sites {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.peppers{
  max-width:300px;
  max-height:300px;
  min-width: 100px;
  min-height: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.haul{
  max-width:300px;
  max-height:300px;
  min-width: 100px;
  min-height: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.waldotitle{
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  padding-top: 25px;
}

.profiles{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  padding-bottom: 25px;
  padding-left: 125px;
  padding-right: 135px;
}

.linkedin{
  max-width:100px;
  max-height:100px;
  min-width: 50px;
  min-height: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.email{
  max-width:100px;
  max-height:100px;
  min-width: 50px;
  min-height: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.github{
  max-width:100px;
  max-height:100px;
  min-width: 50px;
  min-height: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.tagged{
  padding-top: 100px;
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
  color: #FF00BF;
  padding-right: 10px;
}

@media (max-width:760px){
  .sites{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .peppers{
    width:auto;
  }
  .haul{
    width: 100%;
  }
}

@media (max-width:610px){
  .profiles{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .hero{
    background-position: cover;
    background-attachment: fixed;
  }
  .sites{
    height: 100px;
  }
}
